@CHARSET "utf-8";

@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);


/* ALL */
*{
	font-family: 'Patrick Hand', cursive;
	font-weight:normal;
	font-size: 15px;
	color: black;
}

.needOfBorder{
	border: 1px dotted #a7d043;
}

.hide{
	display: none;
}

/*Navigation*/

#flyNavigatorFly{
	top: 10px;
	position: absolute;
	padding: 10px 0px;
	padding-left: 50px;
	width: 948px;
	background-color: #e7ffb3;
	z-index: 999;
}

#flyNavigatorFly a{
	margin: 0px 20px;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
    font-size: 20px;
    color: #675b5b;
    font-weight: 900;
}

#flyNavigatorFly div{
	float: right;
	font-size: 13px;
	margin-right: 20px;
}

.navi{
	color: #a7d043;
	font-weight: 1000;
}

/*Section*/

section{
	margin-top: 80px;
	width: 1000px;
	background-color: white;
}

h1{
	font-size: 20px;
	margin: 5px;
	margin-bottom: 20px;
}

h2{
	font-size: 18px;
	margin-left: 20px;
	margin-bottom: 10px;
}

p{
	word-wrap:break-word;
	clear: both;
}

img{
	margin:5px;
}

mark{
	background-color: rgba(215,80,84,0.3)
}

/*Sides table*/

table{
	width: 990px;
	border-collapse: collapse;
	margin: 5px 5px;
}

table td, tr{
	border: 2px dashed rgba(75,140,29,0.3);
}

.newInfoTable{
	border: 2px dashed rgba(255,189,117,0.7);
}

table td{
	padding: 10px 10px 10px 20px;
}

.codePart{
	width: 400px;
}

/* Footer */

footer{
	margin-top: 10px;
	bottom: 10px;
	padding: 10px 0px;
	padding-left: 50px;
	width: 948px;
	background-color: #e7ffb3;
	z-index: 999;
}

footer a{
	text-decoration:none;
}

footer a:hover{
	text-decoration:underline;
}

/*HTML side*/
#canvaExample{
	border: 1px solid #a3a3a3;
}

/*CSS side*/

/***CUBE***/
.cube {
	position: relative;
	width: 200px;
	height: 130px;
	margin-top: 100px;
}

.rightFace, .leftFace, .topFace div {
	padding: 5px;
	width: 90px;
	height: 90px;
}

.rightFace, .leftFace, .topFace {
	position: absolute;
}

.leftFace {
	-webkit-transform: skewY(30deg);
	-moz-transform: skewY(30deg);
	background-color: #506f0c;
}

.rightFace {
	-webkit-transform: skewY(-30deg);
	-moz-transform: skewY(-30deg);
	background-color: #6b9410;
	left: 100px;
}

.topFace div {
	-webkit-transform: skewY(-30deg) scaleY(1.16);
	-moz-transform: skewY(-30deg) scaleY(1.16);
	background-color: #83b611;
	font-size: 0.862em;
}

.topFace {
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	top: -79px;
	left: 50px;
}

/*JavaScript side*/

button{
	font-size: 10px;
	margin: 10px 0px;
	font-weight: normal;
}

button{
	width: 200px;
	height: 50px;
	color: white;
	font-size: 15px;
	font-weight: 900;
	text-transform: uppercase;
	border: none;
	background-color: #a7d043;
	border-radius: 5px;
	letter-spacing: 5px;
	box-shadow: 0 0 3px 3px gainsboro;
}
button:hover{
	background-color: rgba(167,208,67,0.4) ;
}

.raphaeldiv{
	width: 100px;
	height: 100px;
	float: left;
}

.raphaelbigdiv{
	border: 3px solid gainsboro;
	border-radius: 3px;
	width: 500px;
	height: 250px;
	float: left;
}

/*** FOOTER ***/
#copyright{
	position: fixed;
	bottom: 0px;
	right: 10px;
	z-index: -999;
}

#copyright table{
	margin:auto;
	clear:both;
	text-align:center;
	width: 200px;
	}	
#copyright td, tr{
	color:YellowGreen;
	padding:0px;
	font-size:13px;
	border-style: none;
	}