@CHARSET "utf-8";

@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);


/* ALL */
*{
	font-family: 'Patrick Hand', cursive;
	font-weight:normal;
	font-size: 100%;
	color: black;
}

.needOfBorder{
	border: 1px dotted #a7d043;
}

.needOfBorder2{
	border: 1px dotted red;
}

.hide{
	display: none;
}

.leftFloat{
	float: left;
}

/*Navigation*/

#navigator{
	top: 20px;
	margin: 20px auto;
	width:80%;
	background-color: #e7ffb3;
}

#navigator a{
	margin: 0px 20px;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
    color: #675b5b;
    font-weight: 900;
}

#navigator div{
	margin-right: 20px;
}

#navigator #logo{
	
}

/*Section*/

section{
	margin: 20px auto;
	width: 80%;
	background-color: gainsboro;
	min-height:100px;
}

h1{
	margin: 5px;
	margin-bottom: 20px;
}

h2{
	margin-left: 20px;
	margin-bottom: 10px;
}

p{
	word-wrap:break-word;
	clear: both;
}


/*Section parting*/
.sectionParting{
	width: 49%;
	margin:auto;
	margin-left: 0.5%;
}


/* Footer */

footer{
	margin: 10px auto;
	width: 80%;
	background-color: #e7ffb3;
}

footer a{
	text-decoration:none;
}

footer a:hover{
	text-decoration:underline;
}


/*JavaScript side*/

button{
	margin: 10px 0px;
	font-weight: normal;
}

button{
	width: 200px;
	height: 50px;
	color: white;
	font-weight: 900;
	text-transform: uppercase;
	border: none;
	background-color: #a7d043;
	border-radius: 5px;
	letter-spacing: 5px;
	box-shadow: 0 0 3px 3px gainsboro;
}
button:hover{
	background-color: rgba(167,208,67,0.4) ;
}

.raphaeldiv{
	width: 100px;
	height: 100px;
	float: left;
}

.raphaelbigdiv{
	border: 3px solid gainsboro;
	border-radius: 3px;
	width: 500px;
	height: 250px;
	float: left;
}

/*** FOOTER ***/
#copyright{
	position: fixed;
	bottom: 0px;
	right: 10px;
	z-index: -999;
}

#copyright table{
	margin:auto;
	clear:both;
	text-align:center;
	width: 200px;
	}	
#copyright td, tr{
	color:YellowGreen;
	padding:0px;
	border-style: none;
	}